<%- include("partials/header"); -%>

    <div class="py-5 mb-4 bg-light rounded-3" style="margin-top: 80px">
        <div class="w-50 mx-auto">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Colegio</h2>
                <p class="pb-3">IIITM Website for creating, distributing, and grading assignments.</p>
                <a href="/login" class="btn btn-outline-light me-4" role="button" aria-pressed="true">Login</a>
                <a href="/signup" class="btn btn-outline-light me-4" role="button" aria-pressed="true">Set Password</a>
                <a href="/auth/google" class="btn btn-outline-light" role="button" aria-pressed="true">Login with
                    Google</a>
            </div>
        </div>
    </div>