<%- include("partials/header.ejs"); -%>
<div class="container">
    <div class="text-center bg-dark bg-gradient py-5 border border-dark border-2 rounded text-white">
        <h1>Invalid User</h1>
        <h3>User Not registered neither as faculty nor as student</h3>
    </div>
    </div>
<%- include("partials/footer.ejs"); -%>